extends layout

block content
    div.container.text-center
        .row.justify-content-around
            .col-5
                form(class="form-signin" method="POST" action="/users/login")
                    #error
                        if error
                            p.text-danger There has been an error. Please refresh and try again.
                    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                    h1(class=h1Classes) Student Sign-in
            
                    //-input email
                    label( for="inputEmail" class="sr-only") Email address
                    input(type="email" name="username" id="inputEmail" class="form-control m-2" placeholder="Email address" required autofocus)
            
                    //-input password
                    label(for="inputPassword" class="sr-only") Password
                    input(type="password" name="password" id="inputPassword" class="form-control m-2" placeholder="Password" required)

                    //-remember Checkbox
                    - var divClasses=['checkbox', 'm-3'];
                    div(class=divClasses)
                     label
                        input(type="checkbox" value="remember-me")
                        span.m-1 Remember me

                    //-signIn button
                    - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block',  'm-3'];
                    button(class=buttonClass type="submit") Sign in

            .col-5
                form(class="form-signin" method="POST" action="/users/login")
                    #error
                        if error
                            p.text-danger There has been an error. Please refresh and try again.
                    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                    h1(class=h1Classes) Parent Sign-in
            
                    //-input email
                    label( for="inputEmail" class="sr-only") Email address
                    input(type="email" name="username" id="inputEmail" class="form-control m-2" placeholder="Email address" required autofocus)
            
                    //-input password
                    label(for="inputPassword" class="sr-only") Password
                    input(type="password" name="password" id="inputPassword" class="form-control m-2" placeholder="Password" required)

                    //-remember Checkbox
                    - var divClasses=['checkbox', 'm-3'];
                    div(class=divClasses)
                     label
                        input(type="checkbox" value="remember-me")
                        span.m-1 Remember me

                    //-signIn button
                    - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block', 'm-3'];
                    button(class=buttonClass type="submit") Sign in