extends layout

block content 
  .container
    //h3 Admin Console
    form(class="form" method="POST" action="/users/register")
                    #error
                        if error
                            p.text-danger There has been an error. Please refresh and try again.
                    - var h3Classes = ['h3', 'mb-4', 'font-weight-normal', 'text-dark']
                    h3(class=h3Classes) REGISTERATION

                    h4(class=h4Classes)   &nbsp
                    - var h4Classes = ['h4', 'mb-3', 'font-weight-normal', 'text-dark']
                    h4(class=h4Classes) Parent Info
            
                    //-input first name
                    <div>
                      label(for="parentFirstName" class="mb-0") First Name:
                      input(type="parentFirstName" name="parentFirstName" id="parentFirstName" class="form-control mb-3" placeholder="Enter first name" required autofocus)
                    </div>
            
                    //-input last name
                    label( for="parentLastName" class="mb-0") Family Name:
                    input(type="parentLastName" name="parentLastName" id="parentLastName" class="form-control mb-3" placeholder="Enter family name" required autofocus)

                    //-input relationship
                    label(for="reln2Students" class="mb-0") Relationship to Student:
                    input(type="reln2Students" name="reln2Students" id="reln2Students" class="form-control mb-3" placeholder="Enter relationship to student" required)

                    //-input email
                    label(for="parentEmail" class="mb-0") Parent Email:
                    input(type="parentEmail" name="parentEmail" id="parentEmail" class="form-control mb-3" placeholder="Enter parent email" required)

                    //-input password
                    label(for="parentPassword" class="mb-0") Password:
                    input(type="parentPassword" name="parentPassword" id="parentPassword" class="form-control mb-3" placeholder="Enter password" required)

                    h4(class=h4Classes)   &nbsp
                    h4(class=h4Classes) Students Info

                    //-input email
                    label(for="student_email" class="mb-0") Student Email:
                    input(type="student_email" name="student_email" id="student_email" class="form-control mb-3" placeholder="Enter student email" required)

                    //-signIn button
                    - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block', 'm-3'];
                    button(class=buttonClass type="submit") Create Student and Parent Profiles