extends layout

block content 
  .container
    //h3 Admin Console
    form(class="form" method="POST" action="/users/register")
                #error
                    if error
                        p.text-danger There has been an error. Please refresh and try again.
                - var h3Classes = ['h3', 'mb-4', 'font-weight-normal', 'text-dark']
                h3(class=h3Classes) REGISTRATION

                h4(class=h4Classes)   &nbsp
                - var h4Classes = ['h4', 'mb-3', 'font-weight-normal', 'text-dark']
                h4(class=h4Classes) Parent Info
            
                //-input first name
                label(for="parentFirstName") First Name:
                input(type="parentFirstName" name="parentFirstName" id="parentFirstName" class="form-control mb-3" required autofocus)
            
                //-input last name
                label( for="parentLastName") Last Name:
                input(type="parentLastName" name="parentLastName" id="parentLastName" class="form-control mb-3" required autofocus)

                //-input parent email
                label(for="parentEmail" ) Parent Email:
                input(type="parentEmail" name="parentEmail" id="parentEmail" class="form-control mb-3" required)

                //-input parent email
                label(for="parentEmailConfirmation" ) Parent Email (Re-type to confirm):
                input(type="parentEmailConfirmation" name="parentEmailConfirmation" id="parentEmailConfirmation" class="form-control mb-3" required)

                //-input password
                label(for="parentPassword") Password (at least 8 characters):
                input(type="parentPassword" name="parentPassword" id="parentPassword" class="form-control mb-3" required)

                //-input password
                label(for="parentPasswordConfirm") Password (Re-type to confirm):
                input(type="parentPasswordConfirm" name="parentPasswordConfirm" id="parentPasswordConfirm" class="form-control mb-3" required)

                //-signIn button
                - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block'];
                button(class=buttonClass type="submit") Register

                - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block'];
                button(class=buttonClass type="submit") Login (if already Registered)
  //

                h4(class=h4Classes) &nbsp
                h4(class=h4Classes) Student Info

                //-input student first name
                label(for="studentFirstName") Student First Name:
                input(type="studentFirstName" name="studentFirstName" id="studentFirstName" class="form-control mb-3" required)

                //-input student last name
                label(for="studentLastName") Student Last Name:
                input(type="studentLastName" name="studentLastName" id="studentLastName" class="form-control mb-3" required)
                
                //-input student email
                label(for="studentEmail") Student Email:
                input(type="studentEmail" name="studentEmail" id="studentEmail" class="form-control mb-3" required)

                //-input student grade
                label(for="studentGrade") Grade:
                input(type="studentGrade" name="studentGrade" id="studentGrade" class="form-control mb-3" required)

                //-input student school
                label(for="studentSchool") High School:
                input(type="studentSchool" name="studentSchool" id="studentSchool" class="form-control mb-3" required)
                
                //-signIn button
                - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block'];
                button(class=buttonClass type="submit") Create Student and Parent Profiles

                //-create another button
                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                button(class=buttonClass type="submit") Add Another Student
                